<div ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage">

  <div flex="">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 flex="" md-truncate="">Latest Notifications</h2>
      </div>
    </md-toolbar>

    <md-content layout="column">
      <div ng-if="notifications.length > 0">
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="item in notifications">
            <div class="md-list-item-text" layout="column">
              <h3 ng-if="item.type == 'Like'">{{ item.user.name }} likes your post "
                <a ng-href="/#/posts/view/{{item.post.id}}">{{ item.post.title}}"</a>
              </h3>
              <h3 ng-if="item.type == 'Dislike'">{{ item.user.name }} dislikes your post "
                <a ng-href="/#/posts/view/{{item.post.id}}">{{ item.post.title}}"</a>
              </h3>
              <h3 ng-if="item.type == 'Love'">{{ item.user.name }} loves your post "
                <a ng-href="/#/posts/view/{{item.post.id}}">{{ item.post.title}}"</a>
              </h3>
              <h3 ng-if="item.type == 'Hate'">{{ item.user.name }} hates your post "
                <a ng-href="/#/posts/view/{{item.post.id}}">{{ item.post.title}}"</a>
              </h3>
              <h3 ng-if="item.type == 'Comment'">{{ item.user.name}} commented on
                <a ng-href="/#/posts/view/{{item.post.id}}">your post</a>:"{{ item.comment.commentText}}"</h3>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <md-button class="md-raised md-button md-ink-ripple" ng-click="loadNotifications()" ng-if="lastNotification" layout="row" layout-align="center center">
        Show More Notifications</md-button>
      </div>
      <div ng-if="notifications.length == 0">
        <p>You don't have unread notifications</p>
      </div>
    </md-content>
  </div>

  <md-divider></md-divider>

</div>