<div class="home">
        <div class="absoluteCenter">
            <div layout="column" layout-align="center center">
                <img src="../images/logo.png">
                <div style="margin-top:40px" layout="column" layout-align="center center">
                        <md-button class="md-raised md-primary" ng-click="go('/auth')">Login</md-button>
                        <md-button class="md-raised md-primary" ng-click="go('/register')">Register</md-button>
                </div>
            </div>
        </div>
</div>